.contact-section--1 {
  padding-bottom: 0;

  .container {
    margin-bottom: 70px;
  }

  .flex {
    align-items: baseline;
    justify-content: space-between;
  }

  .right-column {
    width: 45%;
    h2 {
      text-align: left;
    }

    .big-body {
      color: var(--lightGrey);
      font-weight: 500;
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        display: flex;
        align-items: center;

        img {
          max-width: 70px;
        }

        a {
          text-decoration: none;
          color: #010101;

          &:hover {
            color: var(--blue);
          }
        }
      }
    }
  }

  .left-column {
    width: 45%;
  }

  @media (max-width: 900px) {
    .flex {
      flex-direction: column;
    }

    .right-column,
    .left-column {
      width: 100%;
      margin: 0 auto;
    }

    .left-column {
      margin-top: 5rem;
    }

    .EnquiryForm {
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

.contact-section--2 {
  position: relative;

  .white-sqaure {
    position: absolute;
    top: -99px;
    left: 221px;
    padding: 3rem;
    max-width: 400px;
    box-shadow: 0 5px 30px 0 rgba(96,100,111,0.25);
    border-radius: 8px;

    h4 {
      font-family: var(--font-museo);
      font-size: 24px;;
    }
  }
}
