.case-study--intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.case-study--accordion .container {
  max-width: 1000px;
}

.case-study--accordion .accordion {
  margin-top: 0;
}

.SinglePost--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.2;
}

.SinglePost--InnerContent {
  padding: 0 8rem;
}

.case-study--slider .container {
  max-width: 1000px;
}

@media screen and (max-width: 750px) {
  .SinglePost--InnerContent {
    padding: 0;
  }
}
