.accordion {
  margin-top: 100px;
  border: none !important;

  .accordion--item {
    position: relative;

    .accordion-item--body {
      background: white;
      margin-top: -20px;
      padding-left: 40px;
      padding-right: 120px;
      padding-bottom: 30px;
      padding-top: 20px;
      color: var(--lightGrey);
      font-family: var(--font-museoSans);
      margin-bottom: 20px;
      line-height: 26px;
      animation: fadein 0.35s ease-in;

      p {
        font-size: 15px !important;
      }

      .button {
        margin-top: 40px !important;
      }

      @media (max-width: 700px) {
        padding: 20px 20px;
      }
    }

    &:after {
      content: url('/images/uploads/accordion-icon.svg');
      font-family: FontAwesome;
      position: absolute;
      top: 30px;
      right: 43px;
      font-size: 15px;
      text-decoration: none;
      color: var(--orange);
      cursor: pointer;

      @media (max-width: 730px) {
        top: 65px;
      }
    }
  }
  .accordion__title {
    color: var(--lightGrey);
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 80px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 2.5rem;

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: #ddd;
    }

    @media (max-width: 730px) {
      height: 146px;
      p {
        width: 71%;
      }
    }
  }
}
