:root {
    --black: #201F1F;
    --blue: #5878B6;
    --lightBlue: #B0C5EE;
    --orange: #EE865B;
    --lightGrey: #726D6D;
    --darkGrey: #333742;
    --danger: #ff3d3d;
    --font-museo: "museo", serif;
    --font-museoSans: "museo-sans", sans-serif;
    --font-dosis:'Dosis', sans-serif;
    --borderRadius: 6px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
}


body{
    font-family: var(--font-system);
    min-height: 100%;
    position: relative;
    background: white;
    color: var(--secondary);
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

a:hover {
    color: var(--orange);
}

strong {
    font-weight: 700;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    font-family: var(--font-museoSans);
    font-size: 1.8rem;
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--darkGrey);
}

h1 {
    font-family: var(--font-museo);
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.01px;
}

h2 {
    font-family: var(--font-museo);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
}

h3 {
    font-family: var(--font-museoSans);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0;
}

h4 {
    font-family: var(--font-museoSans);
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0;
}

.features-text {
    font-family: var(--font-dosis);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1;
}

.big-body {
    font-family: var(--font-museoSans);
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.14px;
}

.service-title {
    font-family: var(--font-museoSans);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0;
}

.subtitle {
    font-family: var(--font-museoSans);
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.11;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
    line-height: 1.1;
    font-size: 1em;
    font-style: italic;
    border-left: 2px solid var(--primary);
}

/* Utility Classes */
.blue {
    background-color: var(--blue);
}

.flex {
    display: flex;
    align-items: center;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.clear {
    clear: both;
}

.taCenter {
    text-align: center;
}
.taLeft {
    text-align: left;
}
.taRight {
    text-align: right;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

/* Layout */

.section {
    width: 100%;
    padding: 70px 0;
}
.section.thick {
    padding: 88px 0;
}

@media (max-width: 800px) {
    .section.thick {
        padding: 50px 0;
    }
}

.section.thin {
    padding: 50px 0;
}
.section.noPadding {
    padding: 0;
}

.container {
    max-width: 1281px;
    width: 90%;
    margin: 0 auto;
}
.container.skinny {
    max-width: 888px;
}
.container.skinnier {
    max-width: 555px;
}

/* Buttons */

.Button {
    background: var(--orange);
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.06px;
    font-size: 17px;
    display: inline-block;
    padding: 10px 49px;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: var(--borderRadius);
    font-family: var(--font-museo);
    text-align: center!important;
    transition: all ease 0.5s;
}
.Button:hover,
.Button:focus {
    background: var(--blue);
    outline: none;
    color: white;
}
.Button[disabled] {
    opacity: 0.4;
    pointer-events: none;
    cursor: progress;
}
.Button.Button--inverted {
    background: var(--blue);
}
.Button.Button--inverted:hover,
.Button.Button--inverted:focus {
    background: var(--orange);
    color: white !important;
}
