.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 132px;
  width: 132px;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
