.Nav {
  background: var(--blue);
  position: sticky;
  top: 0;
  z-index: 100;
  height: 80px;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.Nav .services {
  cursor: default;
  position: relative;
  padding: 1rem;
  color: white;
}

.Nav .services:hover {
  color: var(--orange);
}

.Nav .services .sub-menu {
  position: absolute;
  top: 25px;
  left: 0;
  list-style: none;
  padding-left: 0;
  background-color: white;
  border-radius: 4px;
  width: 275px;
  display: none;
}

.Nav .services:hover .sub-menu {
  display: block;
}

.Nav .services .sub-menu li:hover {
  background-color: var(--orange);
  transition: ease all 0.5s;
}

.Nav .services .sub-menu li:first-child:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.Nav .services .sub-menu li:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Nav .services .sub-menu li:hover a {
  color: white;
  transition: ease all 0.5s;
}

.Nav .services .sub-menu li {
  padding: 1.5rem;
}

.services i {
  position: absolute;
  top: 12px;
  right: -8px;
}

.Nav .Logo {
  margin-right: 3rem;
}

.services .sub-menu a {
  text-decoration: none;
  color: var(--lightGrey);
}

.Nav .Button {
  background: white;
  color: var(--blue);
  padding: 10px 20px;
  margin-left: 40px;
}

.Nav .Button:hover {
  color: var(--orange);
  background: white;
}

.hamburger {
  display: none;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none !important;
  }
}
