.PageHeader {
  background-color: var(--darkGrey);
  padding: 15rem 0;
  border-bottom: 7px solid var(--lightBlue);
}

.PageHeader .BackgroundImage {
  opacity: 0.6;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
  color: white;
  text-align: center;
  position: relative;
  bottom: -75px;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}
